
body {
  padding-top: 5px;
  padding-left: 13%;
  padding-right: 13%;
}
div ul li a{
  font-size: 12px;
  color: black;
}
.tamañoTitulo{
  font-size: 17px;
}
nav div{
  position: relative;
  left:47%;
  height:10px; 
}
button{
  border: 10px;
}
ul {
  list-style: none;
  margin: 0px;
	padding: 0px;
}
.listaPie2{
  font-size: 15px;
  text-decoration: none;
}
li {
	margin: 0px;
	padding: 0px;	
}
h3 {
  font-size: 20px;
}
table{
  font-size: 15px;
}

